/* styles.css */

.ant-table-wrapper .ant-table-pagination-right {
  justify-content: center;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 4rem;
}
/*
.menu-container {
  position: relative;
}

.menu-items {
  position: absolute;
  left: -200px;
  z-index: 1;
  transition: left 1.5s;
}

.menu-container:hover .menu-items {
  left: 0; 
}
*/
